{% extends "layout/base.html" %} {% block header %}
<header class="pt-4">
  <h1 class="text-body-secondary">{{heading}}</h1>
  <hr />
</header>
{% endblock %} {% block main %}

<div class="container p-4">
  <div class="row">
    <div class="col-9 ">
      <form method="post">
        {% csrf_token %}
        <p class="fs-5 vh-50">
          Are you sure you want to delete the following? <br />
          <u>{{ object }} </u>
        </p>
        {{ form }}
        <hr />
        <div class="d-flex">
          <a
            href="{% url 'AppBlog:detail' pk=object.pk %}"
            class="btn btn-outline-secondary rounded-pill"
            >Back</a
          >
          <button
            class="btn btn-outline-danger rounded-pill ms-auto"
            type="submit"
          >
            Confirm
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %} {% block js %} {% endblock %}
