{% extends "layout/base.html" %} {% block header %}
<header>
  <h1 class="text-body-secondary text-center">{{heading}}</h1>
  <hr />
</header>
{% endblock %} {% block main %} {% load django_bootstrap5 %}
<form method="post" novalidate>
  {% csrf_token %}
  <div class="row">
    <div class="col-12 my-2">{% bootstrap_form form %}</div>
    <div class="col-12 my-2">
      <div class="d-flex">
        <a
          class="btn btn-outline-secondary rounded-pill"
          href="{% url 'AppBlog:panel' %}"
          >Back</a
        >
        <button
          class="btn btn-outline-secondary rounded-pill ms-auto"
          type="reset"
        >
          Reset
        </button>
        <button class="btn btn-outline-primary rounded-pill ms-3" type="submit">
          {% if form.instance.pk %} Update {% else %} Create {% endif %}
        </button>
      </div>
    </div>
  </div>
</form>
{% endblock %} {% block js %}
<script>
  tinymce.init({
    selector: "textarea",
  });
</script>
{% endblock %}
