{% extends "layout/base.html" %} {% block header %}
<header></header>
{% endblock %} {% block main %}

<div class="container p-4">
  <div class="row">
    <div class="col-9">
      <h1 class="text-body-secondary text-center">{{blog.title|upper}}</h1>
      <hr />
      <!-- author -->
      <div class="d-flex justify-content-center align-items-center">
        <i class="bi bi-at fs-4"></i>
        <a href="#">{{blog.author}}</a>
        <small class="ms-3">
          {{blog.last_modified_time|date:'Y-m-d G:i '}}</small
        >
      </div>

      <!-- content -->
      <div class="">{{blog.content|safe}}</div>

      <!-- hashtag -->
      <div class="d-flex justify-content-start">
        {% for hashtag in blog.hashtag.all %}
        <a
          class="btn btn-sm btn-info rounded-pill mx-2"
          href="{% url 'AppBlog:hashtag_detail' hashtag.slug %}"
        >
          #{{hashtag}}
        </a>
        {% endfor %}
      </div>

      <hr />
      <div class="d-flex py-4 my-3">
        {% if user.is_authenticated and user.username == blog.author.username %}
        <a
          href="{% url 'AppBlog:panel' %}"
          class="btn btn-outline-secondary rounded-pill"
          >Back</a
        >
        <a
          href="{% url 'AppBlog:update' pk=blog.pk %}"
          class="btn btn-outline-primary rounded-pill ms-auto"
          >update</a
        >
        <a
          href="{% url 'AppBlog:delete' pk=blog.pk %}"
          class="btn btn-outline-danger rounded-pill ms-2"
          >Delete</a
        >
        {% else %}
        <a
          href="{% url 'home' %}"
          class="btn btn-outline-secondary rounded-pill"
          >Back</a
        >
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% endblock %} {% block js %} {% endblock %}
