<nav
  class="navbar navbar-expand-lg bg-light-subtle border-bottom border-2 vh-10 sticky-top shadow-sm"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">
      <i class="bi bi-journal-bookmark"></i>
      Blog Project</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li> -->
      </ul>
      <!-- management panel -->
      {% if user.is_authenticated %}
      <ul class="navbar-nav mb-2 mb-lg-0">
        <span class="navbar-text"> Hello, {{user.username}} </span>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'AppAccount:profile' %}">
            <u>Profile Panel</u>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'AppBlog:panel' %}">
            <u>Blog Panel</u>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'AppAccount:logout' %}">
            <u>Signout</u>
          </a>
        </li>
      </ul>
      {% else %}
      <a class="btn btn-sm btn-warning" href="{% url 'AppAccount:login' %}">
        Signin
      </a>
      {% endif %}
    </div>
  </div>
</nav>
